---
import T from "./Text.astro";
---

<div class="content">
  <T>
    I am
    <T glow={true}>Abhinav Kumar</T>
  </T>
</div>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
