---
import T from "./Text/HeaderText.astro";
import ST from "./Text/SubText.astro";
---

<div class="body">
  <div class="content">
    <T>
      Hello, I am
      <T glow={true}>Abhinav</T>
    </T>
    <ST>Software Developer • Tinkerer • Tech Enthusiast</ST>
  </div>
</div>

<style>
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
</style>
