---
import Icon from "./Icon.astro";
---

<ul class="social-list">
  <li>
    <a href="https://www.linkedin.com/in/abhinavk9757/">
      <Icon name={"linkedin"} />
    </a>
  </li>
  <li>
    <a href="https://github.com/abhinavk9757/">
      <Icon name={"github"} />
    </a>
  </li>
  <li>
    <a href="https://discord.gg/g4hg6T7Ea2">
      <Icon name={"discord"} />
    </a>
  </li>
</ul>

<style>
  .social-list {
    list-style-type: none;
  }

  .social-list > li {
    display: inline;
    padding-right: 1rem;
  }

  .social-list > li > a {
    text-decoration: none;
  }
</style>
